 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 
 body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;

}
.brand img{
 width: 44px;
 padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px ;
    background-image: url("https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#myprogressbar{
     /* text-align: center;  */
    width: 80vh;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
}
.icons span{
    cursor: pointer;
}
.songitem{
 height: 50px;
 display: flex;
 background-color: white;
 width: 109%;
 color: black;
 margin: 12px 0;
 justify-content: space-between;
 align-items: center;
 border-radius: 34px;
}
.songitem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 74px;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.songinfo img{
   opacity: 0;
   transition: opacity 0.3s ease-in;
}
body {
    background-color: rgb(27, 176, 27);
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(217, 227, 231);
    }
  }